<nav id="navigation">
    <div class="nav-wrapper grey lighten-4">
        <a href="#" class="brand-logo valign-wrapper"><img src="/images/logo.svg" alt="Findologic Logo"></a>
        <ul class="left hide-on-med-and-down search-container">
            <li>
                <form>
                    <input type="search" name="query" placeholder="Search..." />
                </form>
            </li>
        </ul>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a class="grey-text text-darken-3 valign-wrapper" href="sass.html"><img id="github-logo" src="/images/github.png" alt="GitHub" /><span class="fin-docs">FINDOLOGIC-API Documenation</span></a></li>
            <li><a class="grey-text text-darken-3" href="badges.html">Components</a></li>
            <li><a class="grey-text text-darken-3" href="collapsible.html">JavaScript</a></li>
        </ul>
    </div>
</nav>
